@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #393e46;
    --second-color: #bcbec1;
    --text-color: #eeeeee;
    --text-color-dark: #222831;
    --main-dark: #222831;
}

/* GERAL */

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;

    font-family: "Poppins";

    background-color: var(--main-color);
}

/* IMAGEM */

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

.image img {
    width: 80%;

    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-20px);
    }
}

/* TEXT-ERROR */

.text-error {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

.text-error p{
    font-size: 5rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        display: none;
    }

    .text-error {
        width: 100%;
    }
}
